@model Project.Models.Product 
@{
    ViewBag.Title = "Edit";
}

<body>
	 <section id="form">
		<div class="container">
			<div class="row">			
                <div class="col-sm-4 col-sm-offset-2">
					<div class="signup-form"><!--sign up form-->
						<h2>Edit Product</h2>					

                        @using (Html.BeginForm("Edit" , "Admin" ,FormMethod.Post, new { enctype="multipart/form-data"})){
        
                        <fieldset>
                        <div class="form">
                            @Html.TextBoxFor(model => model.Id, new { type = "text", @placeholder = "Product Code", @value = @Model.Id  , @readonly = "true"})
                            @Html.ValidationMessageFor(model=> model.Id)

                            
                            

                            @Html.TextBoxFor(model => model.Price, new { type = "text", @placeholder = "Price", @value = @Model.Price})
                            @Html.ValidationMessageFor(model=> model.Price)

                            @Html.TextBoxFor(model => model.Title, new { type = "text", @placeholder = "Title", @value = @Model.Title })
                            @Html.ValidationMessageFor(model=> model.Title)

                            <h5>Select Category</h5>
                            <select id="Category" name="Category">
                                <option value="MEN">Men</option>
                                <option value="WOMEN">Women</option>
                                <option value="KIDS">Kids</option>
                            </select>
                            <div style="height:10px"></div>
                            @Html.TextBoxFor(model => model.Brand , new { type = "text", @placeholder = "Brand", @value = @Model.Brand })
                            @Html.ValidationMessageFor(model=> model.Brand)

                            @Html.TextBoxFor(model => model.Discount , new { type = "text", @placeholder = "Discount", @value = @Model.Discount })
                            @Html.ValidationMessageFor(model=> model.Discount)

                            @Html.TextBoxFor(model => model.Description, new { @type = "text", @placeholder = "Description" ,@value = @Model.Description })
                            @Html.ValidationMessageFor(model=> model.Description)

                            <h5>Select Type</h5>
                            <select id="Type" name="Type">
                                <option value="JEANS">Jeans</option>
                                <option value="PANT">Dress Pant</option>
                                <option value="SHIRT">Dress Shirt</option>                                
                                <option value="TSHIRT">T - Shirt</option>
                                <option value="TOP">Ladies Top</option>                         
                                <option value="CARDIGAN">Cardigan</option>                                
                                <option value="SKIRT">Skirt</option>
                                <option value="FROCK">Frock</option>
                                <option value="DRESS">Ladies Dress</option>
                            </select>
                            <div style="height:10px"></div>
                            @Html.TextBoxFor(model => model.Quantity, new { @type = "text", @placeholder = "Quantity" , @value = @Model.Quantity })
                            @Html.ValidationMessageFor(model=> model.Quantity)

                            @Html.TextBoxFor(model => model.Color , new { type = "text", @placeholder = "Color", @value = @Model.Quantity })
                            @Html.ValidationMessageFor(model=> model.Color)

                            @Html.HiddenFor(model =>model.ImagePath, new { @Value = ViewBag.ImagePath })

                            <div class="clear"></div>
                            Upload Image: <input type="file" name="image" />
                
                        </div>

                      <div class="clear"></div>
                        <button type="submit" name="submit" id="submit" class="btn btn-default">Save Changes</button>
                      <div class="clear"></div>
                    </fieldset>
                  }

					</div><!--/sign up form-->
				</div>

                <div class ="col-sm-4 col-sm-offset-1">
                    <div style="height:100px"></div>
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
							    <img src= "@Model.ImagePath" alt="" />
                                <p>@Model.Title</p>
							</div>										        
						</div>							        
					</div>						        
                </div>
            </div>
		</div>
	</section><!--/form-->

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>


</body>
