@model Project.Models.User 
@{
    ViewBag.Title = "ForgetPassword";
}

<body>
	 <section id="form">
		<div class="container">
			<div class="row">			
				<div class="col-sm-4 col-sm-offset-4">

                   
                    @{
                        if(ViewBag.Result == true)
                        {                    
                            <div class="login-form" id="Reset">					
                            <h2>Reset Password</h2>	
                                                  
                            @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
                            {
                            <fieldset>
                                <div class="form">
                                    @Html.HiddenFor(x => x.Username, new { id = "hiddenUsername" })

                                    @Html.HiddenFor(x => x.Firstname, new { @Value = ViewBag.Firstname })
                                    @Html.HiddenFor(x => x.Lastname, new { @Value = ViewBag.Lastname })
                                    @Html.HiddenFor(x => x.Email, new { @Value = ViewBag.Email })
                                    @Html.HiddenFor(x => x.Secret_Question, new { @Value = ViewBag.Secret_Question })
                                    @Html.HiddenFor(x => x.Answer, new { @Value = ViewBag.Answer })
                                    @Html.HiddenFor(x => x.ImagePath, new { @Value = ViewBag.ImagePath })

                                    @Html.TextBoxFor(model => model.Password, new { type = "password", @placeholder = "Password", @id = "type1", @required = "required", @pattern = ".{6,}" })                         
                                    
                                    <input type="password" placeholder="Re-Type Password" id="retype1" required = "required"/>
                                    
                                </div>

                                <div class="clear"></div>
                                <button disabled="disabled"  type="submit" id="submit_reset" class="btn btn-default">Submit</button>
                                <div class="clear"></div>
                            </fieldset>
                            }

					    </div>					        
                        }
                        else
                        {
                            <div class="login-form" id="Forget">					
                        <h2>Forget Password</h2>	
                                                  
                            @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post))
                            {
                            <fieldset>
                                <div class="form">
                                     <h5>Username</h5>
                                    @Html.TextBoxFor(model => model.Username, new { type = "text", @id = "userName",  @placeholder = "Username", @required = "required" })
                         
                                    <h5>Secret Question</h5>
                                    <select id="SecretQuestion" name="SecretQuestion">
                                        <option value="0">Phone number</option>
                                        <option value="1">Favourite Book</option>
                                        <option value="2">Favourite Uncle Name</option>
                                        <option value="3">Pet Name</option>
                                    </select>
                                    <h5>Secret Answer</h5>
                                    @Html.TextBoxFor(model => model.Answer, new { type = "text", @placeholder = "Answer", @required = "required" })
                                </div>

                                <div class="clear"></div>
                                <button type="submit" id="submit_forget" class="btn btn-default">Submit</button>
                                <div class="clear"></div>

                                


                            </fieldset>
                            }

					    </div><!--/login form-->                                                      
                        }
                    }
				</div>	
                		
                <div class="col-sm-4">
                    <div style="height:85px"></div>
                    <p id="result"></p>
                </div>

				</div>
            </div>
		
	</section><!--/form-->
	
    <script>
        $(document).ready(function () {
            $('#userName').keyup(function () {
                $('#hiddenUsername').val( $('#userName').val() );
                
            });
        });


        $(document).ready(function () {
            $('#retype1').keyup(function () {
                if (($('#type1').val() === $('#retype1').val()) && ($('#type1').val() != null) && ($('#type1').val() != "")) {
                    $('#result').text("");
                    $('#submit_reset').prop('disabled', false);
                }
                else {
                    $('#result').text("Password do not match");
                    $('#submit_reset').prop('disabled', true);
                }
            });
        });

        $(document).ready(function () {
            $('#type1').keyup(function () {
                if (($('#type1').val() === $('#retype1').val()) && ($('#type1').val() != null) && ($('#type1').val() != "")) {
                    $('#result').text("");
                    $('#submit_reset').prop('disabled', false);
                }
                else {
                    $('#result').text("Password do not match");
                    $('#submit_reset').prop('disabled', true);
                }
            });
        });
    </script>
  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>