<!DOCTYPE html>
<html lang="en">

    @model List<Project.Models.Product>
    @{
        ViewBag.Title = "Kids";
    }
<body>

	<section id="advertisement">
		<div class="container">
			<img src="~/Content/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->							
							
							@{
                                foreach(var v in ViewBag.Colors)
                                {
							        <div class="panel panel-default">
								        <div class="panel-heading">
									        <h4 class="panel-title"><a href="~/Home/Kids?Color=@v">@v</a></h4>
								        </div>
							        </div>
                                }
                            }

						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
                                    @{
                                        foreach(var v in ViewBag.Brands)
                                        {
                                            <li><a href="~/Home/Kids?Brand=@v">@v</a></li>
                                        }
                                    }				
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="~/Content/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						
						
                        @{
                            foreach(var prod in Model){
						        <div class="col-sm-4">
							        <div class="product-image-wrapper">
								        <div class="single-products">
									        <div class="productinfo text-center">
										        <img src="@prod.ImagePath" alt="" />
										        <h2>$@prod.Price</h2>
										        <p>@prod.Title</p>
										        <a href="@Url.Action("AddProductToCart", "Home", new {productId = @prod.Id, returnUrl=Request.RawUrl })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									        </div>
									        <div class="product-overlay">
										        <div class="overlay-content">
											        <h2>$@prod.Price</h2>
											        <p>@prod.Title</p>
                                                    <p>@prod.Description</p>
											        <a href="@Url.Action("AddProductToCart", "Home", new {productId = @prod.Id, returnUrl=Request.RawUrl })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										        </div>
									        </div>
                                            @if(prod.Discount > 0)
									        {
                                                <img src="~/Content/home/sale.png" class="new" alt="" />
                                            }
								        </div>
								        <div class="choose">
									        <ul class="nav nav-pills nav-justified">
										        <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										        <li><a href="~/Home/productdetails?Id=@prod.Id"><i class="fa fa-plus-square"></i>Product Detail</a></li>
									        </ul>
								        </div>
							        </div>
						        </div>
						    }
						}
						
						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
